:root{
    --on-surface-label: rgba(0,0,0, 0.6);
}

.label-outlined{
    font-size: 16px;
    color: var(--on-surface-label);
}
.help{
    margin: 0;
    padding-left: 16px;
    font-size: 14px;
    color: var(--on-surface-label);
}
#lock{
    padding-left: 16px;
}
.right{
    padding-right: 12px;
    cursor: pointer;
}